Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-WTF
Flask-Limiter
Flask-Talisman
Flask-Cors
Flask-Migrate
python-dotenv
psycopg2-binary
Werkzeug
WTForms
SQLAlchemy
alembic
greenlet
email-validator
argon2-cffi
gunicorn